node_modules/
__pycache__/
*.pyc
.env
.venv
env/
venv/
.vscode/
android/.gradle/
android/app/build/
android/build/
android/capacitor/build/
backend/archive*
*.apk
*.aab

*.pkl
*.parquet
*.csv
backend/models/

backend/_ai_temp_scripts/
